<header class="site-header">

	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
    		<ul >
	  			<li class="active"><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
	  			<li><a href="#">Profile</a></li>
	  			<li><a href="#">Messages</a></li>
		
	        	{% for page in site.pages %}
	          		{% if page.title %}
						<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			  		{% endif %}
	        	{% endfor %}
	
	 		</ul>
  		</div>
	</nav>

</header>
